<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator Project</title>
    <link rel="stylesheet" href="static/styles_homepage.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <h1>QR Code Generator for Lists</h1>
        <p>
            Welcome to my project! This innovative solution allows you to generate customized QR codes 
            for lists of items, contacts, or any collection of data. Easily convert your lists into 
            scannable QR codes that can store information efficiently. Perfect for inventory management, 
            event check-ins, or sharing multiple pieces of information simultaneously. The generated 
            QR codes can be scanned by any smartphone device, providing instant access to the stored 
            list in a user-friendly format.
        </p>
        <form action="{{ url_for("enter_data")}}">
        <button type="submit" class="button-54" role="button">start generating your qr code!!!</button>
        </form>
    </div>
</body>
</html>