-<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles_input.css">
</head>
<body>
    <form action="{{ url_for("file_creation")}}" method="post">
    <h2>Add some discription to specify what list items you are displaying</h2>
    <textarea id="textInput" name="data" rows="6" cols="50" placeholder="Type your discription here..."></textarea>
    <br><br>
    <h2>Enter your list items here</h2>
    <textarea id="textInput" name="items" rows="6" cols="50" placeholder="mention your list items here along with the item number make sure every new item is on a different line..."></textarea>
    <br><br>
    <button onclick="sendData()"class="button-54" role="button">Submit</button>
    </form>
</body>
</html>
