-<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-line Input</title>
</head>
<body>
    <h2>Enter Data and Multi-line items!!</h2>
    <form action="{{ url_for("file_creation")}}" method="post">
    <textarea id="textInput" name="data" rows="6" cols="50" placeholder="Type here..."></textarea>
    <br><br>
    <textarea id="textInput" name="items" rows="6" cols="50" placeholder="mention your list items here along with the item number..."></textarea>
    <br><br>
    <button onclick="sendData()">Submit</button>
    </form>
</body>
</html>
